@charset "UTF-8";

/* ========================================
   Base
======================================== */

body {
   font-family: 'Zen Kaku Gothic New', sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.7;
   color: #183B4E;
   background-color: #F3F0E8;

}

img {
   max-width: 100%;
   height: auto;
   vertical-align: bottom;
}

a {
   color: inherit;
   text-decoration: none;
}

ul {
   list-style: none;
}

.container {
   width: min(1200px, calc(100% - 80px));
   margin: 0 auto;

}

#intro,
#how-to-enjoy,
#model-course,
#news,
#access,
#ticket {
   scroll-margin-top: 88px;

}

#constellation-svg {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   pointer-events: none;
   z-index: 1;
}

/* ========================================
   Common
======================================== */

/* ボタン */

.button {
   display: inline-block;
   padding: 10px 20px;
   color: #183B4E;
   font-size: 16px;
   font-weight: 400;
   text-align: center;
   border-radius: 12px;
   border: 1px solid #183B4E;
   transition: all 0.3s ease;
}

.button:hover {
   color: #fff;
   background-color: #183B4E;
}

/* セクションタイトル */

.section-title {
   position: absolute;
   font-size: 24px;
   font-weight: 700;
   line-height: 1.2;
   letter-spacing: 0.05em;
   top: 80px;
   left: 130px;
}

.section-subtitle {
   position: absolute;
   font-size: 24px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.1em;

}

/* 番号 */
.number-badge {
   display: inline-block;
   width: 56px;
   height: 56px;
   line-height: 56px;
   text-align: center;
   border-radius: 50%;
   background-color: #183B4E;
   color: #fff;
   font-size: 16px;
   font-weight: 700;
   margin-right: 10px;
}

/* 英字フォント */
.section-title,
.number-badge,
.model-course__time,
.news__title {
   font-family: 'DM Sans', sans-serif;
}


/* ========================================
   星座
======================================== */

.star {
   width: 20px;
   position: absolute;
   z-index: 2;
}

/* ========================================
   Header
======================================== */

header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100%;
   height: 88px;
   padding: 0 40px;
   box-sizing: border-box;

   display: flex;
   justify-content: space-between;
   align-items: center;

   background-color: transparent;

   opacity: 1;
   transition: opacity 0.3s ease;

}

header.is-scrolled {
   background-color: rgba(24, 59, 78, 0.4);
   backdrop-filter: blur(10px);
}

.header__nav a {
   color: #fff;
   text-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}

.header__nav ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 40px;
   padding: 20px 0;
   color: #fff;
   list-style: none;
}



/* ========================================
   FV
======================================== */

#fv {
   position: relative;
   height: 100vh;
   min-height: 700px;
   background-image: url(../images/fv.png);
   background-size: cover;
   background-position: center-top;
}

#fv .container {
   position: relative;
   width: 100%;
   max-width: none;
   height: 100%;
   padding-top: 80px;
   /* 透明ヘッダー分 */
   box-sizing: border-box;
}

/* 一旦コメントアウト、波デザイン確定後に差し替え予定
#fv::after {
   content: "";
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   height: 180px;
   background: linear-gradient(to bottom, transparent, #f5f3ee);
   pointer-events: none;
}
*/

/* 左側のメインコピー */
.fv__title {
   position: absolute;
   top: 125px;
   left: 8.9%;

   margin: 0;
   color: #fff;
   font-size: 80px;
   font-weight: 400;
   line-height: 1.25;
   letter-spacing: 0.25em;
}

/* 左側のサブコピー */
.fv__subtitle {
   position: absolute;
   top: 470px;
   left: 9.4%;

   margin: 0;
   color: #fff;
   font-size: 32px;
   font-weight: 400;
   letter-spacing: 0.12em;
}

/* 右側のイベントロゴ */
.fv__logo {
   position: absolute;
   top: 304px;
   right: 8.8%;
   width: 334px;
   margin: 0;
}

/* 右側の開催期間 */
.fv__date {
   position: absolute;
   top: 446px;
   right: 3%;
   width: 500px;
   margin: 0;
}

.fv__logo img,
.fv__date img {
   display: block;
   width: 100%;
   height: auto;
}

/* ========================================
   INTRO
======================================== */

#intro {
   position: relative;
   padding: 120px 0 80px;
   background: radial-gradient(circle 500px at 40% 50%,
         #52A1B1 0%,
         #63A9B6 15%,
         #9CC5CA 44%,
         #DFE6E1 78%,
         #F3F0E8 100%);

}

#intro .container {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 20px;
}

#intro .section-title {
   top: 80px;
   left: 130px;
}

.intro__left {
   flex: 1;
}

.intro__content {
   max-width: 500px;
   margin-left: 125px;
   margin-top: 40px;
   position: relative;
   z-index: 2;
}

.intro__title {
   font-size: 43px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.05em;
   color: #183B4E;
   margin-bottom: 40px;
}

.intro__right {
   flex: 1;
   position: relative;
   display: flex;
   justify-content: flex-start;
}

.intro__description {
   font-size: 16px;
   font-weight: 500;
   line-height: 1.7;
   color: #252829;
   margin-bottom: 40px;
}

.intro__image {
   position: relative;
   width: 100%;
   max-width: 500px;
   z-index: 2;
}


#intro .star {
   width: 20px;
   position: absolute;
   z-index: 2;
   top: -20px;
   right: -10px;
}

/* ========================================
   HOW TO ENJOY
======================================== */

#how-to-enjoy {
   position: relative;
   padding: 120px 0 80px;
   background-color: #F3F0E8;
   background-size: cover;
}

.how-to-enjoy__bg--01 {}

.how-to-enjoy__item {
   position: relative;
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.how-to-enjoy__content {
   position: relative;
   width: 1200px;
   height: 700px;
}

.how-to-enjoy__title {
   font-size: 24px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.05em;
   color: #183B4E;
   margin-bottom: 40px;
}

.how-to-enjoy__image--01 {
   position: absolute;
   width: 720px;
   height: 350px;
   border-radius: 50px;
   overflow: hidden;
   top: 77px;
   left: 394px;
}

.how-to-enjoy__image--01 img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.how-to-enjoy__description {
   position: absolute;
   width: 782px;
   font-size: 20px;
   font-weight: 400;
   line-height: 1.8;
   color: #252829;
}

.how-to-enjoy__description--01 {
   top: 480px;
   left: 166px;
   width: 503px;
}

.how-to-enjoy__image--02 {
   position: absolute;
   width: 800px;
   height: 400px;
   top: 208px;
   left: 266px;
}

.how-to-enjoy__image--02 img {
   width: 100%;
   height: 100%;

}

.how-to-enjoy__box {
   width: 390px;
}

.how-to-enjoy__gallery--03 {
   position: absolute;
   top: 122px;
   left: 20px;
   display: flex;
   gap: 20px;
}

.how-to-enjoy__image--03 {
   width: 390px;
   height: 280px;
}

.how-to-enjoy__image--03 img {
   width: 100%;
   height: 100%;
}

.how-to-enjoy__price {
   width: 100%;
   text-align: center;
   margin-top: 30px;
}

.how-to-enjoy__description--03 {
   top: 540px;
   left: 440px;
}



/* ========================================
   MODEL COURSE
======================================== */

#model-course {
   background-image: url(../images/modelcourse.png);
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
}

/* ========================================
   NEWS
======================================== */

/* ========================================
   ACCESS
======================================== */

/* ========================================
   TICKET
======================================== */

#ticket {
   background-image: url(../images/ticket.png);
   background-repeat: no-repeat;
   background-position: center top;
}

/* ========================================
   Footer
======================================== */